@model List<string>
@{
    ViewData["Title"] = "Обучение";
}

<h2>Доступные модули</h2>

<ul>
    @foreach (var module in Model)
    {
        <li>
            <a asp-action="Module" asp-route-name="@module">@module</a>
        </li>
    }
</ul>
