@{
    ViewData["Title"] = ViewData["ModuleName"];
    var module = ViewData["ModuleName"]?.ToString();
    var content = ViewData["Content"]?.ToString();
    var moduleId = ViewData["ModuleId"];
}

<div class="container mt-4">
    <h1>@module</h1>

    <div class="card mt-4">
        <div class="card-body">
            <p class="card-text">@content</p>

            <div class="mt-4">
                <a asp-action="Quiz" asp-route-id="@moduleId" class="btn btn-primary">Начать тест</a>
                <a href="/Training/Index" class="btn btn-secondary">Назад к модулям</a>
            </div>
        </div>
    </div>
</div>