@{
    ViewData["Title"] = "О нас";
}

<h1>О нас</h1>

<p>DungeonMentor — это проект, созданный командой энтузиастов, чтобы помочь новичкам освоить базовые правила D&D 5e через интерактивное обучение.</p>

<h3>Разработчики:</h3>
<ul>
    <li>Анатолий Токарев — ведущий разработчик</li>
</ul>

<h3>Контакты и сообщества:</h3>
<ul>
    <li><a href="https://t.me/+JEsZckYw2IZjMmIy" target="_blank" rel="noopener noreferrer">Telegram чат DungeonMentor</a></li>
</ul>
